<section class="flex h-screen w-full font-inter justify-between">
  <div
    class="p-8 md:p-24 flex flex-col justify-center items-center basis-full md:basis-1/2 md:items-start"
  >
    <lib-logo class="w-full"></lib-logo>
    <h2 class="mb-12 md:mb-6 text-2xl md:text-3xl font-bold">
      Register a new account
    </h2>

    <form
      action=""
      class="w-full flex flex-col gap-6 mt-8"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <div class="flex justify-start items-center gap-3">
        <div class="first-name flex flex-col basis-1/2">
          <label for="first-name" class="text-sm mb-2">First Name</label>
          <input
            type="text"
            id="first-name"
            formControlName="firstName"
            class="border border-gray-300 rounded-md w-full text-sm px-3 py-[9px] focus:outline-none"
          />
        </div>

        <div class="last-name flex flex-col basis-1/2">
          <label for="last-name" class="text-sm mb-2">Last Name</label>
          <input
            type="text"
            id="last-name"
            formControlName="lastName"
            class="border border-gray-300 rounded-md w-full text-sm px-3 py-[9px] focus:outline-none"
          />
        </div>
      </div>
      @if(nameIsInvalid){
      <p class="text-sm text-red-500 text-center">
        Please enter a valid name (only letters, min 2, max 50 characters).
      </p>
      }

      <div class="input flex flex-col">
        <label for="email" class="text-sm mb-2">Email address</label>
        <input
          type="email"
          id="email"
          placeholder="example@gmail.com"
          class="border border-gray-300 rounded-md w-full text-sm px-3 py-[9px] focus:outline-none"
          formControlName="email"
        />
      </div>
      @if(emailIsInvalid){
      <p class="text-sm text-red-500 text-center">
        Please enter a valid email.
      </p>
      }

      <div class="input flex flex-col">
        <label for="pass" class="text-sm mb-2">Password</label>
        <input
          type="password"
          name=""
          id="pass"
          placeholder="password"
          class="border border-gray-300 rounded-md w-full text-sm px-3 py-[9px] focus:outline-none"
          formControlName="password"
        />
      </div>
      @if (passIsInvalid) {
      <p class="text-sm text-red-500 text-center">
        Please enter a valid password (at least 8 characters long).
      </p>
      }

      <div class="input flex flex-col">
        <label for="confirmedPassword" class="text-sm mb-2"
          >Confirm password</label
        >
        <input
          type="password"
          name=""
          id="confirmedPassword"
          formControlName="confirmedPassword"
          placeholder="Confirm password"
          class="border border-gray-300 rounded-md w-full text-sm px-3 py-[9px] focus:outline-none"
        />
      </div>

      @if (confirmPasswordIsInvalid) {
      <p class="text-sm text-red-500 text-center">Passwords do not match.</p>
      }

      <button
        class="w-full text-white py-2 bg-mainBlue rounded-md mt-8 disabled:opacity-50"
        type="submit"
        [disabled]="form.invalid"
      >
        Sign up
      </button>
    </form>
  </div>
  <div class="hidden md:block image basis-1/2 relative">
    <span
      class="block w-full h-full bg-black opacity-50 absolute left-0 top-0"
    ></span>
    <img
      src="pexels-wendelmoretti-1850022.jpg"
      alt=""
      class="w-full h-full hidden md:block"
    />
  </div>
</section>
