<section class="flex h-screen w-full font-inter justify-between">
  <div
    class="p-8 md:p-24 flex flex-col justify-center items-center basis-full md:basis-1/2 md:items-start"
  >
    <lib-logo class="w-full"></lib-logo>
    <h2 class="text-2xl md:text-3xl font-bold">Sign in to your account</h2>
    <span class="my-4 text-sm"
      ><span class="text-gray-700">Not a member? </span>
      <a [routerLink]="'/sign-up'" class="text-mainBlue">Register</a>
    </span>

    <form
      action=""
      class="w-full flex flex-col gap-6 mt-8"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <div class="input flex flex-col">
        <label for="email" class="text-sm mb-2">Email address</label>
        <input
          type="email"
          name=""
          id="email"
          placeholder="example@gmail.com"
          class="border border-gray-300 rounded-md w-full text-sm px-3 py-[9px] focus:outline-none"
          formControlName="email"
        />
      </div>
      @if(emailIsInvalid){
      <p class="text-sm text-red-500 text-center">
        Please enter a valid email.
      </p>
      }

      <div class="input flex flex-col">
        <label for="pass" class="text-sm mb-2">Password</label>
        <div class="relative w-full">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="pass"
            placeholder="password"
            class="border border-gray-300 rounded-md w-full text-sm px-3 py-[9px] pr-10 focus:outline-none"
            formControlName="password"
          />
          <button
            type="button"
            class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500"
            (click)="showPassword = !showPassword"
          >
            @if(!showPassword){
            <svg
              width="20px"
              height="20px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <g id="Edit / Show">
                  <g id="Vector">
                    <path
                      d="M3.5868 13.7788C5.36623 15.5478 8.46953 17.9999 12.0002 17.9999C15.5308 17.9999 18.6335 15.5478 20.413 13.7788C20.8823 13.3123 21.1177 13.0782 21.2671 12.6201C21.3738 12.2933 21.3738 11.7067 21.2671 11.3799C21.1177 10.9218 20.8823 10.6877 20.413 10.2211C18.6335 8.45208 15.5308 6 12.0002 6C8.46953 6 5.36623 8.45208 3.5868 10.2211C3.11714 10.688 2.88229 10.9216 2.7328 11.3799C2.62618 11.7067 2.62618 12.2933 2.7328 12.6201C2.88229 13.0784 3.11714 13.3119 3.5868 13.7788Z"
                      stroke="#000000"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M10 12C10 13.1046 10.8954 14 12 14C13.1046 14 14 13.1046 14 12C14 10.8954 13.1046 10 12 10C10.8954 10 10 10.8954 10 12Z"
                      stroke="#000000"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </g>
                </g>
              </g>
            </svg>
            } @if(showPassword){
            <svg
              width="20px"
              height="20px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <g id="Edit / Hide">
                  <path
                    id="Vector"
                    d="M3.99989 4L19.9999 20M16.4999 16.7559C15.1473 17.4845 13.6185 17.9999 11.9999 17.9999C8.46924 17.9999 5.36624 15.5478 3.5868 13.7788C3.1171 13.3119 2.88229 13.0784 2.7328 12.6201C2.62619 12.2933 2.62616 11.7066 2.7328 11.3797C2.88233 10.9215 3.11763 10.6875 3.58827 10.2197C4.48515 9.32821 5.71801 8.26359 7.17219 7.42676M19.4999 14.6335C19.8329 14.3405 20.138 14.0523 20.4117 13.7803L20.4146 13.7772C20.8832 13.3114 21.1182 13.0779 21.2674 12.6206C21.374 12.2938 21.3738 11.7068 21.2672 11.38C21.1178 10.9219 20.8827 10.6877 20.4133 10.2211C18.6338 8.45208 15.5305 6 11.9999 6C11.6624 6 11.3288 6.02241 10.9999 6.06448M13.3228 13.5C12.9702 13.8112 12.5071 14 11.9999 14C10.8953 14 9.99989 13.1046 9.99989 12C9.99989 11.4605 10.2135 10.9711 10.5608 10.6113"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
              </g>
            </svg>
            }
          </button>
        </div>
      </div>

      @if (passIsInvalid) {
      <p class="text-sm text-red-500 text-center">
        Please enter a valid password (at least 8 characters long).
      </p>
      }

      <a routerLink="/forgot-password" class="text-sm text-center text-mainBlue"
        >Forgot Password?</a
      >

      <button
        class="w-full text-white py-2 bg-slate-900 rounded-md mt-2 disabled:opacity-50"
        type="submit"
        [disabled]="form.invalid"
      >
        Sign in
      </button>

      @if(errorMessage){
      <p class="text-sm text-red-500 text-center">
        {{ errorMessage }}
      </p>
      }

      <a routerLink="/" class="text-sm text-gray-700 text-center"
        >Continue Browsing As Guest</a
      >
    </form>
  </div>
  <div class="hidden md:block image basis-1/2 relative">
    <span
      class="block w-full h-full bg-black opacity-30 absolute left-0 top-0"
    ></span>
    <img
      src="pexels-wendelmoretti-1850022.jpg"
      alt=""
      class="w-full h-full hidden md:block"
    />
  </div>
</section>
