<header class="container py-4 flex flex-wrap justify-between items-center">
  <div class="flex-shrink-0">
    <span class="text-slate-800 text-3xl font-bold font-inter">ReadHub</span>
  </div>

  <div class="hidden relative sm:block sm:w-auto mt-2 sm:mt-0">
    <lib-search-bar (search)="onSearch($event)"></lib-search-bar>
  </div>

  <div class="flex justify-between items-center gap-2">
    <button
      title="Whish List"
      class="w-11 h-11 bg-gray-100 rounded-full flex justify-center items-center"
    >
      <span>
        <svg
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 16 16"
          height="1.4em"
          width="1.4em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"
          ></path>
          <path
            d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"
          ></path>
        </svg>
      </span>
    </button>
    <button
      title="Bag"
      class="w-11 h-11 bg-gray-100 rounded-full flex justify-center items-center"
    >
      <span>
        <svg
          stroke="currentColor"
          fill="none"
          stroke-width="2"
          viewBox="0 0 24 24"
          aria-hidden="true"
          height="1.5em"
          width="1.5em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"
          ></path>
        </svg>
      </span>
    </button>
  </div>

  <div class="relative block sm:hidden mt-3 w-full">
    <lib-search-bar (search)="onSearch($event)"></lib-search-bar>
  </div>
</header>
